.app-container{
    display: flex;
    flex-direction: column; 
    align-items: stretch;
}

header{
    display: flex;
    justify-content: center;
    background-color: rgb(65, 163, 62);
    font-size: 25px;
    font-weight: bold; 
    color: white; 
    border: 5px solid white; 
}

.header-pic{
    display: flex;
    justify-content: center;
    align-items: stretch; 
    padding: 3%; 
    background-color: snow;  
    border: 5px solid white; 

}

img{
    display: flex; 
    width: 100%; 
}

.map-container{
    background-color: snow; 
    height: 70%; 
    border: 5px solid white; 
}

input{
    margin: 4px;
    font-size: 30px;  
}