*{
    background-color: grey; 
}

.tilelayer-container {
    border: 5px solid purple; 
    
}

#root{
    border: 5px solid blue; 
    width: 50%
    
}

.div-container{
    border: 5px solid green; 
    
}

.map-container{
    border: 5px solid pink; 
    
}

.marker-container{
    border: 5px solid red; 
    
}